@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	from {
		transform: translatey(50px);
		opacity: 0%;
	  }
	  to {
		transform: translatey(0px);
		opacity: 100%;
	  }
}

@keyframes btn_slide {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 0.5;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes disapear {
	100% {
		opacity: 0;
		overflow: hidden;
	}
}
