@import "./Base/reset", "./Base/typography";
@import "./Utils/variables", "./Utils/mixins", "./Utils/keyframes";
@import "./Layout/header", "./Layout/footer", "./Layout/loader", "./Layout/fonctionnement", "./Layout/restaurants", "./Layout/menus";
@import "./Components/btn", "./Components/heart", "./Components/location", "./Components/number", "./Components/iconnumber", "./Components/each_fonctionnement";


@media (min-width: 1250px) {
	.ensemble {
		display: flex;
	}
	.restaurant {
		width: 40%;
	}
}

header {
	img {
		display: block;
		margin: auto;
	}
}
.restaurant_img {
	img {
		object-fit: cover;
		max-width: 100%;
		width: 100%;
		max-height: 100%;
	}
}
.menu {
	background-color: #F2F2F2;
	border-radius: 24px;
	padding: 5px;
}
.unité {
	padding: 32px;
	border-radius: 24px;
	width: 96%;
	display: grid;
	border-radius: 20px;
	margin: 10px 10px;
	padding: 5px;
	box-shadow: 0 0 10px 2px #bababa;
	background-color: white;
}
.command {
	border-radius: 20px;
	margin: auto;
	padding: 5px;
	box-shadow: 0 0 10px 2px #bababa;
}
