.explorer_menu {
	@include explorer_menu;
	&:hover {
		background-color: lighten(#9356dc, 10%);
		background-blend-mode: lighten;
		box-shadow: 4px 4px 4px white;
	}
	p {
		color: white;
		vertical-align: middle;
		text-align: center;
	}
}

.command {
	border-radius: 20px;
	margin: auto;
	padding: 5px;
	box-shadow: 0 0 10px 2px #bababa;
}

.checking {
	border-radius: 20px;
	overflow: hidden;
	text-align: center;
	background: #99e2d0;
	width: 0px;
	align-items: center;
	padding-top: 32px;
}