.fill {
	bottom: 1em;
	color: #000;
	cursor: pointer;
	position: absolute;
	right: 1em;
	transition: all 0.2s ease-in-out;
}
.fill:hover {
	background: linear-gradient(#9356dc, #ff79da);
	color: #fff;
	font-weight: 600;
	transform: scale(1.2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
