header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.arrow {
	position: absolute;
	left: 20px;
	font-size: 40px
}

.logo_top {
	margin: 10px
}

.top_menu {
	@include top_menu;
	h2 {
		font-weight: bold;
	}
	p {
		color: #4d4d4d;
	}
}
