html,
body {
height: 100%;
}

.loader {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #009688;
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: 3s spin linear, 3s disapear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.loader {
position: absolute;
top: 50%;
left: 50%;
}
