html,
body {
	height: 100%;
}

.loader {
	width: 150px;
	height: 150px;
	margin: 0;
	border-top: 15px solid #99e2d0;
	border-bottom: 15px solid #ff79da;
	border-radius: 50%;
	animation: 3s spin linear, 3s disapear;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
}
