.entree {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

.plat {
    animation-duration: 6s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

.dessert {
    animation-duration: 9s;
    animation-name: slidein;
    animation-iteration-count: 1;
}